.stories {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $default-font-size;
    position: relative;



    &__list {
        @include reset-list;
        width: 75%;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        margin-top: 5rem;
        margin-bottom: 4rem;

        @include respond(tab-port) {
            width: 80%;
        }

    }



    &__item {
        box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 3px;
        padding: 5rem;
        padding-left: 8rem;
        transform: skewX(-12deg);

        @include respond(phone) {
            transform: skewX(0);
        }

        &:hover .stories__caption {
            opacity: 1;
            transform: translate(-50%, -50%);
        }

        &:hover .stories__image {
            transform: translateX(-4rem) scale(1);
            filter: blur(3px) brightness(80%);
        }
    }

    &__shape {
        background-color: orange;
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-2rem) skewX(12deg);
        position: relative;

        @include respond(phone) {
            transform: translateX(-2rem) skewX(0);
        }
    }

    &__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.2);
        transition: all 0.5s;
    }

    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        color: #ffffff;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
    }

}