.tours {
    text-align: center;
    background-color: $color-bcg-tours;
    padding: 25rem 10rem 10rem;
    margin-top: -10rem;

    &__list {
        display: flex;
        justify-content: space-around;
        @include reset-list;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

.card {
    flex-basis: 25%;
    perspective: 150rem;
    -moz-perspective: 150rem;
    font-size: 2rem;
    position: relative;
    min-height: 47rem;

    &__side {
        height: 47rem;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        overflow: hidden;
        color: #000;

        &--1 {
            background-color: #ffffff;
        }

        &--wrapper {
            background-size: cover;
            background-blend-mode: screen;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            padding-top: 10rem;
            padding-bottom: 3rem;

            &1 {
                background-image: linear-gradient(to right bottom,
                        rgba($color-secondary-light, 0.8),
                        rgba($color-secondary-dark, 0.8)), url(../img/nat-5.jpg);
            }

            &2 {
                background-image: linear-gradient(to right bottom,
                        rgba($color-primary-light, 0.8),
                        rgba($color-primary-dark, 0.8)), url(../img/nat-6.jpg);
            }

            &3 {
                background-image: linear-gradient(to right bottom,
                        rgba($color-tertiary-light, 0.8),
                        rgba($color-tertiary-dark, 0.8)), url(../img/nat-7.jpg);
            }

        }

        &--2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6rem;
            padding-top: 10rem;
            transform: rotateY(180deg);

            &1 {
                background-image: linear-gradient(to right bottom,
                        rgba($color-secondary-light, 0.8),
                        rgba($color-secondary-dark, 0.8));
            }

            &2 {
                background-image: linear-gradient(to right bottom,
                        rgba($color-primary-light, 0.8),
                        rgba($color-primary-dark, 0.8));
            }

            &3 {
                background-image: linear-gradient(to right bottom,
                        rgba($color-tertiary-light, 0.8),
                        rgba($color-tertiary-dark, 0.8));
            }

        }
    }

    &:hover &__side--1 {
        transform: rotateY(-180deg);
    }

    &:hover &__side--2 {
        transform: rotateY(0);
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        color: #ffffff;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }


    }

    &__list {
        @include reset-list;
    }

    &__line {
        font-size: 1.5rem;
        padding: 1rem;
        width: 80%;
        margin: 0 auto;

        &:not(:last-child) {
            border-bottom: 1px solid #eee;
        }
    }

    &__cta {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__price {
        font-size: 6rem;
        font-weight: 100;
    }
}